---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import EventsSection from '@/components/EventsSection.astro';
import NutritionSection from '@/components/NutritionSection.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="Lanor Junior Middle School | Home">
	<Header />
	<main>
		<Hero />
		<EventsSection />
		<NutritionSection />
	</main>
	<Footer />
</Layout>
