@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif; */
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  
  --color-lanor-green: #1d6d3b;
  --color-lanor-gold: #ffcc00;
  --color-lanor-green-dark: #0b3d22;
  --color-lanor-gold-light: #ffeb99;
}
